{% extends "base.html" %}

{% block content %}
    <script>
        function sendJson(url, flag, route) {
            if (flag == 1) {
                alert("Mark this img");
            } else if (flag == 2) {
                alert("No satisfied graph")
            }
            var xhr = new XMLHttpRequest();
            xhr.open("post", route, true);
            xhr.setRequestHeader('content-type', 'application/json');
            xhr.send(JSON.stringify({
                "data": url,
                "flag": flag
            }));
        }
    </script>

    <div style="text-align:center;"><p style="color:red;">Please review the image for the following poem. </p></div>
    <div style="text-align:center;">
        <p>Poem Id: {{ images.id }}<br/></p>
        <p>Poem: <b>{{ images.poem }}</b><br/></p>
        <p>Keyword: {{ images.keyword }}</p><br/>
    </div>
    <div style="text-align:center;"><p>

        <img src="{{ images.chosen }}" width="300" height="225">

    </p></div>
    <div>
        <p style="text-align:center;">
            <button onclick="sendJson('deny', 0, '/review_query'); window.location.reload()">Deny</button>
            <button onclick="sendJson('confirm', 3, '/review_query'); window.location.reload(); ">Confirm</button>
        </p>
    </div>
{% endblock %}